<form action="/landmarks" method="POST">

<h4>Create a New Landmark</h4>

<label for="landmark_name">Name: </label>
<input id="landmark_name" type="text" name="landmark[name]"></input><br></br>
<label for="landmark_year_completed">Year Completed: </label>
<input id="landmark_year_completed" type="integer" name="landmark[year_completed]"></input><br></br>

<p><input type="submit" value="Create New Landmark"></input></p>

</form>
