<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>

<p><a href="/landmarks">To view all Landmarks click here</a></p>

<p><a href="/figures">To view all Figures click here</a></p>
